header {
  width: 100%;
  min-height: 25rem;
  background-image: url("../img/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  display: flex;
  width: 100%;
  min-height: 25rem;
  background-color: rgba(165, 42, 42, 0.2);
  color: #fffaf6;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 9rem;
}

.header-container .header-title {
  width: 49%;
}

.header-container .header-nav {
  width: 49%;
  display: flex;
  justify-content: end;
}

.header-container .header-nav a {
  color: #fffaf6;
}

.header-container .header-nav a:nth-child(1) {
  margin-right: 1rem;
}

/* Post Slider */
.post-slider {
  position: relative;
}

.post-slider .slider-title {
  text-align: center;
  margin: 30px auto;
  color: var(--dark);
}

.post-slider .next {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2em;
  color: var(--secondary);
  cursor: pointer;
}

.post-slider .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 2em;
  color: var(--secondary);
  cursor: pointer;
}

.post-slider .post-wrapper {
  width: 84%;
  height: 350px;
  margin: 0px auto;
  overflow: hidden;
  padding: 10px 0 10px 0;
}

.post-slider .post-wrapper .post {
  height: 330px;
  width: 300px;
  margin: 0px 5px;
  display: inline-block;
  background-color: var(--light);
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
  overflow: hidden;
}

.post-slider .post-wrapper .post .post-info {
  height: 130px;
  padding: 0px 10px;
}

.post-slider .post-wrapper .post .post-info h4 {
  margin-bottom: 0.3rem;
}

.post-slider .post-wrapper .post .post-info h4 a {
  color: var(--dark);
}

.post-slider .post-wrapper .post .post-info h4 a:hover {
  color: var(--primary);
}

.post-slider .post-wrapper .post .post-info span {
  color: var(--secondary);
}

.post-slider .post-wrapper .post .post-info p {
  color: var(--secondary);
  margin-top: 0.5rem;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-slider .post-wrapper .post .slider-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* CONTENT */
.content {
  width: 90%;
  margin: 30px auto 30px;
}

.content .main-content {
  width: 70%;
  float: left;
}

.content .main-content.single {
  background: var(--light);
  padding: 20px 50px;
  font-size: 1.1rem;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}

.content .main-content.single .post-title {
  text-align: center;
  margin-bottom: 40px;
}

.content .main-content .recent-post-title {
  margin: 20px;
}

.content .main-content .post {
  width: 95%;
  height: 300px;
  margin: 30px auto;
  border-radius: 5px;
  background: var(--light);
  box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
  overflow: hidden;
  position: relative;
}

.content .popular .post {
  border-top: 1px solid #e0e0e0;
  margin-top: 10px;
  padding-top: 10px;
}

.content .popular .post img {
  height: 60px;
  width: 60px;
  float: left;
  margin-right: 10px;
}

.content .popular .post a {
  color: var(--secondary);
}

.content .main-content .post .btn-post {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.content .main-content .post .post-image {
  width: 40%;
  height: 100%;
  float: left;
}

.content .main-content .post h2 {
  margin-bottom: 0.3rem;
}

.content .main-content .post h2 a {
  color: var(--dark);
}

.content .main-content .post .post-preview {
  width: 60%;
  color: var(--secondary);
  padding: 20px;
  float: right;
}

.content .sidebar {
  width: 30%;
  float: left;
}

.content .sidebar.single {
  padding: 0px 10px;
}

.content .sidebar .section {
  background: var(--light);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}

.content .sidebar .section .section-title {
  margin: 10px 0px 10px 0px;
}

.content .sidebar .section.search {
  margin-top: 80px;
}

.content .sidebar .section .text-input {
  padding: 0.7rem 1rem;
  display: block;
  width: 100%;
  border-radius: 5px;
  outline: none;
  color: #444;
  line-height: 1.5rem;
  font-family: "Poppins", serif;
  font-size: 1.2em;
  border: 1px solid #e0e0e0;
}

.content .sidebar .section.topics ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-top: 2px solid #e0e0e0;
}

.content .sidebar .section.topics ul li a {
  display: block;
  padding: 15px 0px 15px 0px;
  color: var(--secondary);
  border-bottom: 2px solid #e0e0e0;
  transition: all 0.5s;
}

.content .sidebar .section.topics ul li a:hover {
  padding-left: 15px;
  transition: all 0.5s;
}

/* Media Queries */
@media (max-width: 768px) {
  .content {
    width: 100%;
  }

  .content .main-content {
    width: 100%;
  }

  .content .main-content-wrapper {
    padding: 10px;
  }

  .content .main-content .post {
    height: 230px;
    width: 100%;
  }

  .content .sidebar {
    width: 100%;
  }

  .content .sidebar.single {
    margin-top: 30px;
    padding: 0px 0px;
  }

  .content .sidebar .section.search {
    margin-top: 30px;
  }
}

@media (max-width: 450px) {
  .content .main-content .post {
    height: auto;
  }

  .content .main-content.single {
    padding: 10px 20px;
  }

  .content .main-content .post .post-image {
    width: 100%;
  }

  .content .main-content .post .post-preview {
    width: 100%;
  }

  .content .main-content .post .btn-post {
    position: static;
    width: 100%;
    text-align: center;
  }

  /* .post-slider .post-wrapper {
    width: 73%;
    height: auto;
  } */

  .post-slider .next {
    right: 10px;
  }

  .post-slider .prev {
    left: 10px;
  }
}
